@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
    to right, 
    #4285f4,
    #9b72cb,
    #d96570,
    #d96570,
    #9b72cb,
    #4285f4
);
background-size: 200%;
animation: gradientAnimation 3s linear infinite;
}


@keyframes gradientAnimation {
0% {
    background-position: 200% 50%;
}
100% {
    background-position: 0% 50%;
}
}

 
table {
  width: 80%;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  margin: 30px auto
}

th, td {
  padding: 16px 12px;
  text-align: center;
}

thead tr {
  background-color: #36304A;
  color: #fff;
} 

tbody tr:nth-child(even) {
  background-color: #F5F5F5;
}

tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

